  ///////////////
 // VARIABLES //
///////////////

/*------------------------------------*\
    COLORS
\*------------------------------------*/

$black: #222222;
$brown: #554236;
$lt-brown: #a17357;

/*------------------------------------*\
    SUSY
\*------------------------------------*/

$total-columns: 4;     // a 12-column grid
$column-width: 4em;    // each column is 4em wide
$gutter-width: 1em;    // 1em gutters between columns
$grid-padding: 0.5em;  // grid-padding equal to gutters
