  ////////////
 // MIXINS //
////////////

/*------------------------------------*\
    MIKE'S MIXINS
\*------------------------------------*/

@import "mixins/base";

/*------------------------------------*\
    BREWGET SPECIFIC MIXINS
\*------------------------------------*/

/*--Fonts--*/

/**
 * The following mixins are subsets of the font-details mixin,
 * differentiated by the fact that they are populated with
 * specific font-families, and do not accept a $family parameter
 */
@mixin enzo($size: null, $color: null, $weight: null, $height: null) {
  $family: "ff-enzo-web", sans-serif;
  @include font-details($size, $color, $weight, $height, $family);
}

@mixin meta-serif($size: null, $color: null, $weight: null, $height: null) {
  $family: "ff-meta-serif-web-pro", serif;
  @include font-details($size, $color, $weight, $height, $family);
}

@mixin more-pro($size: null, $color: null, $weight: null, $height: null) {
  $family: "ff-more-web-pro", serif;
  @include font-details($size, $color, $weight, $height, $family);
}
