  ///////////////////
 // TABLET STYLES //
///////////////////

/*------------------------------------*\
    UTILITIES
\*------------------------------------*/

.row {
  section {
    clear: none;
    float: right;
    margin: {
      left: 0;
    }
    text-align: right;
  }
}
