  ///////////////////
 // TABLET STYLES //
///////////////////

/*------------------------------------*\
    UTILITIES
\*------------------------------------*/

.row {
  div {
    &.details {
      clear: none;
      float: right;
      text-align: right;
    }
  }
}

.row-with-image {
  div {
    &.details {
      margin: {
        left: 0;
      }
    }
  }
}
