<h1>Sign up</h1>
<validation-messages></validation-messages>
<form novalidate>
  <label>Username<input type="text" ng-model="user.username"></label>
  <label>Password<input type="password" ng-model="user.password"></label>
  <label>Email<input type="email" ng-model="user.email"></label>
  <label>Location<input type="text" id="location" ng-model="user.location" places types="(cities)" placeholder=""></label>
  <input-date label="Birthday" form-object="user" date-container="birthday"></input-date>
  <button ng-click="user.$save()">Sign up</button>
</form>